@model List<TaskCollabration.Models.TeamModel>
@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap align-items-center justify-content-between breadcrumb-content">
                            <h5>Your Team Member</h5>
                            <div class="d-flex align-items-center">
                                <div class="list-grid-toggle d-flex align-items-center mr-3">
                                    <div data-toggle-extra="tab" data-target-extra="#grid" class="active">
                                        <div class="grid-icon mr-3">
                                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <rect x="3" y="3" width="7" height="7"></rect>
                                                <rect x="14" y="3" width="7" height="7"></rect>
                                                <rect x="14" y="14" width="7" height="7"></rect>
                                                <rect x="3" y="14" width="7" height="7"></rect>
                                            </svg>
                                        </div>
                                    </div>
                                    <div data-toggle-extra="tab" data-target-extra="#list">
                                        <div class="grid-icon">
                                            <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <line x1="21" y1="10" x2="3" y2="10"></line>
                                                <line x1="21" y1="6" x2="3" y2="6"></line>
                                                <line x1="21" y1="14" x2="3" y2="14"></line>
                                                <line x1="21" y1="18" x2="3" y2="18"></line>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <div class="pl-3 border-left btn-new">
                                    <a class="btn btn-primary" asp-action="AddTeam">New Team</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @* tab 1 start *@
        <div id="grid" class="item-content animate__animated animate__fadeIn active" data-toggle-extra="tab-content">
            <div class="row">

                @* @if (TempData["msg"] != null) *@
                @* { *@
                @*     <div class="alert alert-success alert-dismissible fade show" role="alert"> *@
                @*         <i class="ri-check-line"></i> @TempData["msg"] *@
                @*         <button type="button" class="close" data-dismiss="alert" aria-label="Close"> *@
                @*             <span aria-hidden="true">&times;</span> *@
                @*         </button> *@
                @*     </div> *@
                @* } *@

                @* @if (TempData["ErrorMessage"] != null) *@
                @* { *@
                @*     <div class="alert alert-danger alert-dismissible fade show" role="alert"> *@
                @*         <i class="ri-error-warning-line"></i> @TempData["ErrorMessage"] *@
                @*         <button type="button" class="close" data-dismiss="alert" aria-label="Close"> *@
                @*             <span aria-hidden="true">&times;</span> *@
                @*         </button> *@
                @*     </div> *@
                @* } *@


                @* @if (TempData["msg"] != null) *@
                @* { *@
                @*     <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert" style="white-space: nowrap;"> *@
                @*         <i class="ri-check-line mr-2"></i> <span>@TempData["msg"]</span> *@
                @*         <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close"> *@
                @*             <span aria-hidden="true">&times;</span> *@
                @*         </button> *@
                @*     </div> *@
                @* } *@

                @if (TempData["msg"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert" style="white-space: nowrap; display: flex; align-items: center;">
                        <i class="ri-check-line mr-2"></i> <span>@TempData["msg"]</span>
                        <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }

                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center" role="alert" style="white-space: nowrap; display: flex; align-items: center;">
                        <i class="ri-close-line mr-2"></i> <span>@TempData["ErrorMessage"]</span>
                        <button type="button" class="close ml-auto" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }



                @foreach (var team in Model)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="card card-stretch card-height shadow-lg border-0 rounded">
                            <div class="card-body text-center p-4">
                                <div class="item">
                                    <div class="odr-img mb-2">
                                        <img src="~/Images/@team.Attachments" class="img-fluid rounded-circle avatar-90 border border-primary p-2" alt="image">
                                    </div>
                                    <div class="odr-content">
                                        <h4 class="mb-3 text-primary">@team.TaskName</h4>
                                        <p class="mb-2"><i class="ri-user-line text-secondary"></i> <strong>Phone Number:</strong> @team.AssignTo</p>
                                        <p class="mb-2"><i class="ri-calendar-line text-success"></i> <strong>Birth Date:</strong> @team.DueDate.ToString("dd-MM-yyyy")</p>
                                        <p class="mb-2"><i class="ri-folder-line text-warning"></i> <strong>Category:</strong> @team.Category</p>
                                        <p class="mb-2"><i class="ri-file-text-line text-info"></i> <strong>Email:</strong> @team.Description</p>
                                        @* <p class="mb-2"><i class="ri-check-double-line text-success"></i> <strong>Bio:</strong> @team.Checklist</p> *@
                                        <br />
                                        <ul class="list-unstyled mb-3">
                                            <li class="bg-secondary-light rounded-circle iq-card-icon-small mr-4">
                                                <i class="ri-instagram-line m-0"></i>
                                            </li>
                                            <li class="bg-primary-light rounded-circle iq-card-icon-small mr-4">
                                                <i class="ri-github-line m-0"></i>
                                            </li>
                                            <li class="bg-success-light rounded-circle iq-card-icon-small">
                                                <i class="ri-linkedin-box-line m-0"></i>
                                            </li>
                                        </ul>

                                        <div class="pt-3">
                                            <a asp-action="EditTeam" asp-route-id="@team.Id" class="btn btn-outline-primary btn-lg rounded-pill px-4">
                                                <i class="ri-edit-box-line"></i> Edit
                                            </a>
                                            <a asp-action="DeleteTeam" asp-route-id="@team.Id" class="btn btn-outline-danger btn-lg rounded-pill px-4 ml-2" onclick="return confirm('Are you sure you want to delete this task?');">
                                                <i class="ri-delete-bin-line"></i> Delete
                                            </a>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        @* tab 1 end *@





        @* Tab 2 Start *@
        <div id="list" class="item-content animate__animated animate__fadeIn" data-toggle-extra="tab-content">
            <div class="table-responsive rounded bg-white mb-4">
                <table class="table mb-0 table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Task</th>
                            <th>Assigned To</th>
                            <th>Due Date</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Checklist</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var team in Model)
                        {
                            <tr>
                                <td>
                                    <div class="media align-items-center">
                                        <img src="~/Images/@team.Attachments" class="img-fluid rounded-circle avatar-40 border border-primary p-1" alt="image">
                                        <h5 class="ml-3 text-primary">@team.TaskName</h5>
                                    </div>
                                </td>
                                <td><i class="ri-user-line text-secondary"></i> @team.AssignTo</td>
                                <td><i class="ri-calendar-line text-success"></i> @team.DueDate.ToString("dd-MM-yyyy")</td>
                                <td><i class="ri-folder-line text-warning"></i> @team.Category</td>
                                <td><i class="ri-file-text-line text-info"></i> @team.Description</td>
                                <td><i class="ri-check-double-line text-success"></i> @team.Checklist</td>
                                <td>
                                    <div class="pt-3">
                                        <a asp-action="EditTeam" asp-route-id="@team.Id" class="btn btn-outline-primary btn-lg rounded-pill px-4">
                                            <i class="ri-edit-box-line"></i> Edit
                                        </a>
                                        <a asp-action="DeleteTeam" asp-route-id="@team.Id" class="btn btn-outline-danger btn-lg rounded-pill px-4 ml-2" onclick="return confirm('Are you sure you want to delete this task?');">
                                            <i class="ri-delete-bin-line"></i> Delete
                                        </a>

                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @* Tab 2 End *@

    </div>
</div>

